.dropdownsAreAwesome {
  position: absolute;
  top: 100px;
  right: calc(50% - 650px);
  background-color: rgb(155, 153, 153);
  font-family: "Shadows Into Light Two", cursive;
  font-size: medium;
  font-weight: bold;
  color: black;
  width: 300px;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  z-index: 50;
}

.bike-text {
  position: absolute;
  right: calc(50% - 650px);
  width: 300px;
  padding-top: 125px;
  padding-left: 0px;
  padding-right: 0px;
  color: white;
}
