.container {
  overflow: auto;
  text-align: left;
}
.trial-text {
  color: white;
  width: 80%;
  height: 50%;
  padding-left: calc(50% - 300px);
  font-size: large;
  text-align: left;
}

.titles {
  text-align: left;
}

.infoBlock {
  margin-top: 1px;
  margin-bottom: 5px;
  list-style-type: none;
  font-size: large;
}

.hours {
  padding-top: 5px;
  margin-bottom: 1px;
}

ul {
  list-style-type: none;
}
