.formContainer {
  margin-bottom: 10px;
}

/* .myLabel {
  color: white;
  text-align: right;
  display: inline-block;
  width: 150px;
} */

.myForm {
  width: 70%;
  padding-left: 500px;
  color: white;
  margin-bottom: 10px;
}

/* .myInput {
    margin-bottom: 5px;
    margin-left: 1rem;
    width: 15%;
    max-width: 75rem;
  } */

.button {
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 1rem;
  width: 35%;
  text-align: center;
}
