.sidebar-container {
  max-width: 400px;
  position: absolute;
  top: 0;
  height: 50vh;
}

.sidebar-menu {
  display: block;
  list-style: none;
  max-width: 350px;
  height: 70%;
  margin-top: 0px;
  background-color: black;
  padding: 60px 20px;
}

.nav-dropdown {
  text-align: left;
  position: relative;
  margin-top: 1px;
  padding: 2rem;
  width: 100%;
  display: table;
  list-style: none;
  text-decoration: none;
  color: grey;
}

.nav-dropdown:hover {
  background-color: whitesmoke;
  border-radius: 0;
}
