.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  image-rendering: optimizeQuality;
  font-family: "Shadows Into Light Two", cursive;
  background-color: rgb(23, 26, 26);
  height: 100vh;
}

.home-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

h1 {
  text-align: center;
  color: grey;
}
